<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My ToDos</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app" class="container">
    <h1>My Todos</h1>
    <ul>
      <li v-for="(todo, index) in todos" :key="todo.id">
        <p>{{ todo.item }}</p>
        <button @click="editItem(index)">edit</button>
        <button @click="deleteItem(index)">delete</button>
      </li>
    </ul>
    <form @submit.prevent="addItem" v-if="edit">
      <input type="text" v-model="item">
      <input type="submit" value="Add">
    </form>
    <form @submit.prevent="setItem" v-else>
      <input type="text" v-model="item">
      <input type="submit" value="Set">
    </form>
  </div>

  <script src="main.js"></script>
</body>
</html>
